= simple_form_for @investor, url: url, html: { method: method } do |f|
  .row
    .col-md-6
      = f.input :id, as: :hidden, input_html: {id: 'investor-number'}
      = f.input :amount, input_html: {id: 'investor-amount'}
      = f.input :period, input_html: {id: 'investor-period'}
      = f.input :rate, input_html: {id: 'investor-rate'}
      = f.input :expire_rate, input_html: {id: 'investor-expire-rate'}
    .col-md-6
      .investor-calc
  .form-group
    = f.button :submit, class: 'btn btn-primary'
