.page-header
  %h1= t('.edit')
= render 'form', url: investor_path(@investor), method: "PUT"

:javascript
  document.addEventListener("turbolinks:load", function(event) {
    $('#investor-amount,#investor-period,#investor-rate,#investor-expire-rate').change(function(event){
      investorId = document.getElementById('investor-number').value;
      if (investorId) {
        $('.investor-calc').empty();
        getInvestorData(investorId).success(function(investorData){
          $('.investor-calc').append(investorTemplate(investorData));
        });
      }
    });
  });

  function getInvestorData(investorId){
    return $.ajax({
      url: `/web_api/investors/${investorId}`,
      method: 'GET'
    });
  }

  function investorTemplate(investorData){
    borrowerCount = investorData.borrowers.length;
    investorAmount = document.getElementById('investor-amount').value;
    investorPeriod = document.getElementById('investor-period').value;
    investorRate = document.getElementById('investor-rate').value;
    investorExpireRate = document.getElementById('investor-expire-rate').value;
    realIncomePercent = calcRealIncome(investorData, investorAmount, investorRate, investorExpireRate);

    theoryIncome = investorAmount * investorRate / 12 * investorPeriod / investorAmount / 6 * 12;
    theoryIncomeMoney = investorAmount * borrowerCount * (1 + theoryIncome/100);
    realIncomeMoney = investorAmount * borrowerCount * (1 + realIncomePercent/100);

    return template = [
      '<div>',
        '<h2>Информация об инвеcторе:</h2><br>',
        'Количество заемщиков: ' + borrowerCount + '<br>',
        'Годовая доходность(%) оптимистично ' + theoryIncome + '%<br>',
        'Годовая доходность(сумма) оптимистично ' + theoryIncomeMoney + '<br><br>',
        'Годовая доходность(%) релистично ' + realIncomePercent + '%<br>',
        'Годовая доходность(сумма) релистично ' + realIncomeMoney + '<br>',
      '</div>'
    ].join("\n");
  }

  function calcRealIncome(investorData, investorAmount, investorRate, investorExpireRate){
    badCount = 0;
    goodCount = 0;
    $.each(investorData.borrowers, function(key, value) {
      $.each(JSON.parse(value.payments), function(k, v) {
        if (v == 'badTime') {
          badCount += 1;
        } else {
          goodCount +=1;
        }
      });
    });
    persentIncome = (investorAmount * investorRate / 12 * goodCount) + (investorAmount * investorExpireRate / 12 * badCount);
    mainIncome = (investorData.borrowers.length * investorAmount);
    realIncome = persentIncome / mainIncome / 6 * 12;
    return realIncome;
  }
