.row
  .col-md-12
    .page-header
      %h1= t('.title')

    %br
    %table.table.table-striped
      %thead
        %tr
          %th= Investor.human_attribute_name(:number)
          %th= Investor.human_attribute_name(:amount)
          %th= Investor.human_attribute_name(:period)
          %th= Investor.human_attribute_name(:rate)
          %th= Investor.human_attribute_name(:expire_rate)
          %th= t('edit')
      %tbody
        - @investors.each do |investor|
          %tr
            %td= investor.id
            %td= investor.amount
            %td= investor.period
            %td= investor.rate
            %td= investor.expire_rate
            %td{ title: "" }
              = link_to edit_investor_path(investor) do
                %i.fa.fa-pencil

    .form-actions
      = link_to t(".add"), new_investor_path, class: 'btn btn-primary'
