= simple_form_for @borrower, url: url, html: { method: method } do |f|
  .row
    .col-md-6
      %br
      .dropdown
        = f.input :payments, as: :hidden, input_html: {id: 'borrower-payments'}
        = f.collection_select :investor_id, Investor.all, :id, :id, {prompt: t('choose_investor')}, {id: 'investor', class: "form-control"}
      %br
      .investor-data
      %br
    .col-md-12
      .payments

  .form-group
    = f.button :submit, class: 'btn btn-primary', id: 'borrower-btn', disabled: true


:javascript
  document.addEventListener("turbolinks:load", function(event) {
    $('#investor').change(function(event){
      investorId = document.getElementById('investor').value;
      if (investorId) {
        getInvestorData(investorId).success(function(investorData){
          $('.investor-data').empty();
          $('.investor-data').append(investorTemplate(investorData));
          $('.payments').empty();
          for(var i = 0; i < investorData.period; i++) {
            $('.payments').append(paymentCards(i+1));
          }
        });
      } else {
        $('.payments').empty();
        $('.investor-data').empty();
      }
    });
  });

  function getInvestorData(investorId){
    return $.ajax({
      url: `/web_api/investors/${investorId}`,
      method: 'GET'
    });
  }

  function handlePaymentChange(monthNumber){
    paymentsData = {};
    paymentType = $(`input[name="payment-month-${monthNumber}"]:checked`).val();
    $(`#summary-${monthNumber}`).empty();
    investorId = document.getElementById('investor').value;
    if (investorId) {
      getInvestorData(investorId).success(function(investorData){
        for(var i = 0; i < investorData.period; i++) {
          paymentsData[`${i+1}`] = $(`input[name="payment-month-${i+1}"]:checked`).val();
          paymentsJson = JSON.stringify(paymentsData);
          $('#borrower-payments').val(paymentsJson);
        }
        checkForSubmit(investorData);
        displayIfLastPayRemoved(investorData);

        monthlyPercent = investorData.amount*investorData.rate/100/12;
        monthlyBadPercent = investorData.amount*investorData.expire_rate/100/12;

        monthlyAmount = investorData.amount/investorData.period;

        monthlyTotal = monthlyAmount + monthlyPercent;
        monthlyBadTotal = monthlyAmount + monthlyBadPercent;

        switch(paymentType) {
          case 'inTime':
            $(`#summary-${monthNumber}`).append(monthlyTotal);
            break;
          case 'badTime':
            $(`#summary-${monthNumber}`).append(monthlyBadTotal);
            break;
          default:
            for(var i = monthNumber; i < investorData.period; i++) {
              $(`.full-card-${i+1}`).addClass( "hide-item" );
              $(`#summary-${i+1}`).empty();
              $(`input[name="payment-month-${i+1}"]`).prop('checked', false);
            }
            restPayment = investorData.amount - monthlyAmount * (monthNumber - 1) + monthlyPercent;
            $(`#summary-${monthNumber}`).append(restPayment);
        }
      });
    }
  }

  function checkForSubmit(investorData){
    flag = 0;
    for(var i = 1; i <= investorData.period; i++) {
      if ($(`input[name="payment-month-${i}"]:checked`).val() == 'lastPay'){
        document.getElementById("borrower-btn").disabled = false;
        break;
      } else if (!$(`input[name="payment-month-${i}"]:checked`).val()) {
        flag = 1;
        document.getElementById("borrower-btn").disabled = true;
        break;
      }
    }
    if (flag == 0) {
      document.getElementById("borrower-btn").disabled = false;
    }
    console.log(flag)
  }

  function displayIfLastPayRemoved(investorData) {
    flag = 0;
    for(var i = 1; i <= investorData.period; i++) {
      if ($(`input[name="payment-month-${i}"]:checked`).val() == 'lastPay') {
        flag = 1;
      }
    }
    if (flag == 0) {
      for(var i = 1; i <= investorData.period; i++) {
        $(`.full-card-${i}`).removeClass( "hide-item" );
      }
    }
  }

  function paymentCards(month){
    return template = [
      `<div class="col-md-4 float-left mb-3 full-card-${month}">`,
        '<div class="card">',
          '<div class="card-header">',
            'Месяц '+ month +'<br>',
          '</div>',
          '<div class="card-block">',
            `<blockquote class="card-blockquote">`,
              `<label><input type="radio" onchange="handlePaymentChange(${month});" name="payment-month-${month}" value="inTime">Оплата вовремя</label><br>`,
              `<label><input type="radio" onchange="handlePaymentChange(${month});" name="payment-month-${month}" value="badTime">Оплата с просрочкой</label><br>`,
              `<label><input type="radio" onchange="handlePaymentChange(${month});" name="payment-month-${month}" value="lastPay">Досрочная оплата</label><br><br>`,
              `<p>Выплата: <b id="summary-${month}"></b></p>`,
            '</blockquote>',
          '</div>',
        '</div>',
      '</div>'
    ].join("\n");
  }

  function investorTemplate(investorData){
    monthlyPercent = investorData.amount*investorData.rate/100/12;
    monthlyAmount = investorData.amount/investorData.period;
    monthlyTotal = monthlyAmount + monthlyPercent;
    return template = [
      '<div>',
        '<h2>Информация об инвеcторе:</h2><br>',
        'Сумма: ' + investorData.amount + '<br>',
        'Срок (мес): ' + investorData.period + '<br>',
        'Ставка годовых: ' + investorData.rate + '%<br>',
        'Ставка годовых при просрочке: ' + investorData.expire_rate + '%<br>',
        'Ежемесячный по долгу: ' + monthlyAmount + '<br>',
        'Ежемесячный по процентам: ' + monthlyPercent + '<br>',
        'Общий ежемесячный: ' + monthlyTotal + '<br>',
        'Сумма выплаты: ' + investorData.period*monthlyTotal + '<br>',
      '</div>'
    ].join("\n");
  }
