.row
  .col-md-12
    .page-header
      %h1= t('.title')

    %br
    %table.table.table-striped
      %thead
        %tr
          %th= Borrower.human_attribute_name(:number)
          %th= Borrower.human_attribute_name(:payments)
      %tbody
        - @borrowers.each do |borrower|
          %tr
            %td= borrower.id
            %td= borrower.payments
            %td{ title: "" }
  
    .form-actions
      = link_to t(".add"), new_borrower_path, class: 'btn btn-primary'
