%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  .collapse.navbar-collapse
    %ul.navbar-nav
      = nav_link(t('investors'), investors_path, 'nav-link', 'nav-item')
      = nav_link(t('borrowers'), borrowers_path, 'nav-link', 'nav-item')
