%html
  %head
    %titleCreditorIncomeCalc
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/web/nav'
    .container-fluid.container-max-width
      = bootstrap_flash_messages
      = yield
